<% include partials/header.ejs %>
    <title>World Cup Sweepstake</title>
    </head>
    <body>
        <div style="text-align:center">
            <h1 class="title"> Welcome To The WorldCup2018 SweepStake Generator </h1>
        </div>
        <br>
        <div style="text-align:center">
            <a href="/register" class="btn btn-lg btn-primary">Sign Up</a>
            <a href="/login" class="btn btn-lg btn-primary">Login</a>
        </div>
        <% include partials/footer.ejs %>